@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SyneBold';
    src: url('/src/assets/fonts/syne/Syne-Bold.ttf') format('truetype');
    font-display: swap;
}

@layer components {
  .font-syne-bold {
    font-family: 'SyneBold', sans-serif !important;
  }
}
